h1,
h2,
h3,
h4,
h5,
h6 {
    @apply !font-light;
}

a {
    @apply no-underline
}

.large {
    @apply !font-normal
}

:root {
    --sl-content-width: 115rem !important;
}

.header {
    @apply font-normal bg-white dark:bg-slate-950
}

.site-title {
    @apply text-black font-normal dark:text-white
}

.pagination-links a {
    @apply shadow-none rounded-none
}

.right-sidebar-container {
    width: 20rem !important;
}

.action {
    border-radius: 10px !important;
    padding: 12px;
}

.content-panel:has(h1#_top:not([data-page-title])) {
    display: none;
}

.header {
    border-bottom: none !important;
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
}